body, input, textarea, svg text {
  font-family: 'VT323', monospace;
  font-size: 16pt;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "side chat chat chat";
  grid-template-rows: 36px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

app-header {
  grid-area: header;
  box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding-left: 10px;
  background: #333;
  color: white;
}

messages-view {
  grid-area: chat;
}

threads-view {
  grid-area: side;
  border-right: 1px solid #aaa;
}